body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body{
    
}

#bg {
    width: 1920px;
    height:956px;
    margin-top: 125px;
    background-image: url(../img/background.png);
    background-size: cover;
}

#logo {
    position: absolute;
    right: 43px;
    top: 35px;
    width:175px;
}

#title {
    font-family: HelveticaRoman;
    position: absolute;
    font-size: 88px;
    width:100%;
    text-align:center;
    top: 235px;
    color: white;
    text-shadow: 0px 0px 50px #000000, 0px 0px 55px #000000, 0px 0px 60px #000000, 0px 0px 70px #000000;
}

#date {
    font-family: HelveticaBold;
    position: absolute;
    font-size: 160px;
    top: 407px;
    width:100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 100px #000000, 0px 0px 110px #000000, 0px 0px 120px #000000;
}


#date .red {
    color: #cb0538;
    text-shadow: none;
}

#qrcode {
    position: absolute;
    left: 50px;
    bottom: 35px;
}

.qrtext {
    position: absolute;    
    color: white;
    
}

#qrtext1 {
    font-family: HelveticaRoman;
    bottom: 134px;
    left: 307px;
    font-size: 52px;
    text-shadow: 0px 0px 50px #000000, 0px 0px 55px #000000, 0px 0px 60px #000000, 0px 0px 70px #000000;
}

#qrtext2 {
    font-family: HelveticaRoman;
    bottom: 95px;
    left: 305px;
    font-size: 36px;
    text-shadow: 0px 0px 50px #000000, 0px 0px 55px #000000, 0px 0px 60px #000000, 0px 0px 70px #000000;
}